<div id="all-leagues">
    <span>LEAGUES</span>
    <div id="popular-leagues">
        <span>POPULAR LEAGUES</span>
        <div class="leagues">
            <div class="flag">FL</div>
            <div class="league">UEFA Champions League</div>
        </div>
        <div class="leagues">
            <div class="flag">FL</div>
            <div class="league">UEFA Europa Conference League</div>
        </div>
        <div class="leagues">
            <div class="flag">FL</div>
            <div class="league">Premier League</div>
        </div>
    </div>
    <div id="other-leagues">
        <span>OTHER LEAGUES</span>
        <div class="leagues">
            <div class="flag">FL</div>
            <div class="league">League One</div>
            <div class="dropdown">+</div>
        </div>
        <div class="leagues">
            <div class="flag">FL</div>
            <div class="league">League One</div>
            <div class="dropdown">+</div>
        </div>
    </div>
    <div>FAVORITES</div>
</div>